<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tectris VC | Winners</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/output.css"/>
</head>
<body class="bg-gray-950 text-white">
    <header class="py-6">
        <div class="container mx-auto px-8 flex flex-col md:flex-row gap-4 items-start justify-between">
            <img class="h-6" src="/images/logo.svg" alt="">
            <div class="text-gray-500 text-base/5">
                Web3 in Travel & Hospitality | Investment | Accelerator | Network
            </div>
        </div>
    </header>
    {{ content | safe }}

    <footer class="py-8">
        <div class="container mx-auto px-8 text-center">
            <div class="flex gap-4 justify-center mb-8">
                <a class="hover:underline" href="https://www.tectris.vc/imprint">Imprint</a>
                <a class="hover:underline" href="https://www.tectris.vc/terms">Terms & Conditions</a>
                <a class="hover:underline" href="https://www.tectris.vc/privacypolicy">Privacy Policy</a>
            </div>
            <div>CH-6300 Zug, Dammstrasse 16</div>
        </div>
    </footer>
</body>
</html>